<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol type="o">
    <li>Python</li>
    <li>R Language</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol type="1">
    <li>Matplotlib</li>
    <li>NumPy</li>
    <li>Pandas</li>
</ol>

<table>
<tr>
    <th>Data Science Tools</th>
    </tr>
    <tr><td>R studio</td></tr>
    <tr><td>Python (Jupyter Notebook)</td>
    </tr>
    <tr>
        <td>Julia</td>
    </tr>
    </table>

<h3>Below are a few examples of evaluating arithmetic expression in Python</h3>

In [1]:
(3*4)+5

17

In [5]:
total_minutes = 200
hours, minutes = divmod(total_minutes, 60)
time = f"{hours}:{minutes:02}"
print(time)

3:20

<b>Objectives:<b>
    <ul>In this notebook we covered, what are the popular languages that can be used to perform data analytical tasks.Languages such as Python, R language, and SQL</ul>
    <ul>Libraries that are used by a data scientist are Mathplotlib, numpy and Pandas</ul>
    <ul>Then we studied about different data science tool such as R-studio, Python(Jupyter notebook) and Julia</ul>
    <ul>We can perform arithematic fuctions in the jupiter notebook using operators such as +, -, *, /</ul>
    <ul>Then how time in minutes could be converted to time in hours</ul>

<h2>Author:</h2>
Amit Pandey